

.center{
    display: flex;
    justify-content: center;
}

.width100{
    width: 100%;
    display: flex;
    justify-content: center;
}
.skills-main-content{
    display: flex;
    justify-content: space-around;
    width: fit-content;
    gap: 2rem;
}

@media screen and (max-width: 800px) {
    .skills-main-content{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    
}
.skills-title{
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 35px;
}

