

.center{
    display: flex;
    justify-content: center;
}


.skills-main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 800px) {
    .skills-main-content{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    
}
.skills-title{
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 35px;
}

