.about-cart{
    padding: 14px 14px;
    width: 7em;
    height: fit-content;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
}

.about-cart-title p{
    color: var(--text-color);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.about-cart-sub-title p{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.about-icon{
    text-align: center;
}