.project-main-content-container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    width: calc(100vw - var(--section-padding-horiz) * 2);
    padding-bottom: 15px;
}

.project-main-content-container::-webkit-scrollbar{
    height: 5px;

}

.project-main-content-container::-webkit-scrollbar-thumb{
    height: 5px;
    background-color: var(--not-dark-color);
    border-radius: 5px;
}

.project-main-content-container::-webkit-scrollbar-thumb:hover{
    background-color: var(--normal-dark-color);
}