.nav-bar{
    padding: var(--navbar-padding-vert) var(--section-padding-horiz);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

@media screen and (max-width: 1100px) {
    .nav-bar{
        padding: var(--navbar-padding-vert) 20px;
    }
}
.links ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2.5em;
    font-size: var(--links-font-size);
}



.links a:hover{
    color: var(--super-dark-color);
}

.logo{
    font-size: var(--logo-font-size);
    font-weight: bolder;
}

.logo h3{
    width: fit-content;
    cursor: pointer;
}

.bars{
    display: none;
    cursor: pointer;
}

.links{
    transition: .7s ease;
}
@media screen and (max-width: 700px) {
    .nav-bar{
        background-color: transparent;
        padding: 0;
    }
    .nav-bar nav{
        display: flex;
        flex-direction: column;
        
    }
    .links{
        width: 100%;
        padding: 30px;
        margin-top: -430px;
        background-color: white;
        z-index: 900;
    }
    .responsive-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 999;
        background-color: white;
        padding: 20px;
    }
    .links ul{
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-size: var(--links-font-size);
        width: 100%;
    }
    .links li{
        padding: 5px 15px;
        width: 100%;
        text-align: center;
    }
    .bars{
        display: block;
    }
    .hide{
        margin-top: 0;
    }
}