.nav-bar{
    padding: var(--navbar-padding-vert) var(--section-padding-horiz);
    width: 100%;
    position: fixed;
    top: 0;
}

nav{
    display: grid;
    grid-template-columns: 1fr auto;
    
}

.links ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2.5em;
    font-size: var(--links-font-size);
}

.logo{
    font-size: var(--logo-font-size);
    font-weight: bolder;
}

.logo h3{
    width: fit-content;
    cursor: pointer;
}