/*Main*/
.home{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 2em;
    padding: 7em var(--section-padding-horiz);
}

@media screen and (max-width: 1480px ){
    .home{
        padding: 7em 4em;
    }
}

@media screen and (max-width: 1350px ){
    .home{
        padding: 7em 2em;
    }
}


@media screen and (max-width: 600px ){
    .home{
        padding: 7em 1em;
    }
}

