.home-accounts-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    
}

.accounts-icons{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

@media screen and (max-width: 1200px) {
    .accounts-icons{
        display: flex;
        flex-direction: row;
    }
    .home-accounts-container{
        order: 1;
    }
    
    
}

.accounts-icons a:hover .account-icon path{
    color: var(--super-dark-color);
}
