
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: var(--photo-height);
    align-self: center;
    justify-self: center;
    width: 25em;
}
.download-cv-btn{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 18px 25px;
    border-radius: 18px;
    background-color: var(--btn-background);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.download-cv-btn p{ 
    color: white;
}
.paper path{
    color: white;
}
.paper{
    font-size: 17px;
}

.about-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}