.qualification-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 10px;
    padding: 15px 20px;
    cursor: pointer;
}

.qualification-link:hover *{
    color: var(--super-plus-dark-color);
}

.qualification-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.Qualification-link-icon span, .Qualification-link-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-bottom{
    border-bottom: 1px rgba(97, 97, 97, .3) solid;
}

.border-change{
    border: 1px rgba(97, 97, 97, .3) solid;
    border-radius: 25px 25px 0 0;
}

@media screen and (max-width: 370px) {
    .qualification-link{

        padding: 10px 25px;

    }
    .Qualification-link-title {
        font-size: 10px;
    }
    .Qualification-link-icon span{
        width: 20px;
    } 
}
@media screen and (max-width: 250px) {
    .qualification-link{

        padding: 5px 10px;

    }
    .Qualification-link-title {
        font-size: 10px;
    }
    .Qualification-link-icon span{
        width: 20px;
    } 
}