.qualification-element{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
    
}
.qualification-element-container{
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 2px;
}

.qualification-element-container *{
    width: 100%;
}


.qualification-line{
    width: 2px;
    height: 100%;
    background-color: var(--not-dark-color);
    padding-bottom: 60px;
   

}

.qualification-circle{
    width: 10px;
    height: 10px;
    background-color: var(--dark-color);
    border-radius: 50%;
    position: relative;
    left: -4px;
    
}



@media screen and (max-width: 290px) {
    .qualification-element-title span{
        font-size: 12px;
    }
    .qualification-element-platform span{
        font-size: 10px;
    }
    .qualification-element-year span{
        font-size: 8px;
    }
}
@media screen and (max-width: 230px) {
    .qualification-element-title span{
        font-size: 10px;
    }
    .qualification-element-platform span{
        font-size: 9px;
    }
    .qualification-element-year span{
        font-size: 8px;
    }
}

@media screen and (max-width: 210px) {
    .qualification-element-title span{
        font-size: 9px;
    }
    .qualification-element-platform span{
        font-size: 6px;
    }
    .qualification-element-year span{
        font-size: 5px;
    }
}

@media screen and (max-width: 150px) {
    .qualification-element-title span{
        font-size: 6px;
    }
    .qualification-element-platform span{
        font-size: 6px;
    }
    .qualification-element-year span{
        font-size: 6px;
    }
}