section:not(:first-child){
    padding: var(--section-padding-vert) var(--section-padding-horiz);
    height: var(--section-height);
}

.super-plus-dark-color{
    color: var(--super-plus-dark-color);
}

.super-dark-color{
    color: var(--super-dark-color);
}

.dark-color{
    color: var(--dark-color);
}

.normal-dark-color{
    color: var(--normal-dark-color);
}

.not-dark-color{
    color: var(--not-dark-color);
}