.initial-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--section-title-content-gap);
}

section{
    min-height: var(--section-height);
}

@media screen and (max-width: 1200px) {
    .home,
    .about,
    .skills,
    .qualifications,
    .projects{
        padding: 4em 20px;
    }
    
    
}
nav,
section{
    max-width: 1600px;
}
.super-plus-dark-color{
    color: var(--super-plus-dark-color);
}

.super-dark-color{
    color: var(--super-dark-color);
}

.dark-color{
    color: var(--dark-color);
}

.normal-dark-color{
    color: var(--normal-dark-color);
}

.not-dark-color{
    color: var(--not-dark-color);
}

.p-font-size{
    font-size: var(--section-title-p-font-size);
}

#root{
    width: 100%;
}

