.initial-sec{
    padding: var(--section-padding-vert) var(--section-padding-horiz);
    height: var(--section-height);
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--section-title-content-gap);
}

@media screen and (max-width: 1480px ){
    .initial-sec {
        padding: var(--section-padding-vert) 4em !important;
    }
}

@media screen and (max-width: 1350px ){
    .initial-sec {
        padding: var(--section-padding-vert) 2em !important;
    }
}


@media screen and (max-width: 600px ){
    .initial-sec {
        padding: var(--section-padding-vert) 1em !important; 
    }
}
.super-plus-dark-color{
    color: var(--super-plus-dark-color);
}

.super-dark-color{
    color: var(--super-dark-color);
}

.dark-color{
    color: var(--dark-color);
}

.normal-dark-color{
    color: var(--normal-dark-color);
}

.not-dark-color{
    color: var(--not-dark-color);
}

.p-font-size{
    font-size: var(--section-title-p-font-size);
}