@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap');

:root{
  --section-padding-horiz: 11em;
  --section-padding-vert: 8em;
  --navbar-padding-vert: 1em;
  --text-color: rgb(100, 100, 100);
  --links-hover-color: rgb(75, 75, 75);
  --logo-font-size: 18px;
  --links-font-size: 17px;
  --p-color: rgb(133, 133, 133);
}

*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--text-color);
}

body{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 3.38em;
}