@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap');

:root{
  --section-padding-horiz: 11em;
  --section-padding-vert: 5em;
  --navbar-padding-vert: 1em;
  --text-color: rgb(78, 78, 78);
  --links-hover-color: rgb(75, 75, 75);
  --logo-font-size: 18px;
  --links-font-size: 17px;
  --p-color: rgb(161, 161, 161);
  --photo-width: 20em;
  --photo-height: 20em;
  --body-padding: 3.38em;
  --section-height: calc(100vh - var(--body-padding));
  --btn-background: rgb(66, 66, 66);
  --btn-hover-background: rgb(43, 43, 43);
  --name-font-size: 25px;
  --section-title-h-font-size: 23px;
  --section-title-p-font-size: 15px;
  --section-title-content-gap: 5em;
}

*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--text-color);
}

body{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding-top: var(--body-padding);
}