@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap');

:root{
  --super-plus-dark-color: rgb(43, 43, 43);
  --super-dark-color: rgb(66, 66, 66);
  --dark-color-hover: rgb(75, 75, 75);
  --dark-color: rgb(78, 78, 78);
  --normal-dark-color: rgb(97, 97, 97);
  --not-dark-color: rgb(161, 161, 161);
  --light-color: rgb(240, 240, 240);
  
  
  

  --section-padding-horiz: 11em;
  --section-padding-vert: 5em;
  --navbar-padding-vert: 1em;
  
  --logo-font-size: 18px;
  --links-font-size: 17px;
  
  --photo-width: 20em;
  --photo-height: 20em;
  --body-padding: 3.38em;
  --section-height: calc(100vh - var(--body-padding));
  
  
  
  --name-font-size: 25px;
  --section-title-h-font-size: 23px;
  --section-title-p-font-size: 13px;
  --section-title-content-gap: 5em;
}

*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding-top: var(--body-padding);
}