.about{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--section-title-content-gap);
}
.about-main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    max-width: 1400px;
    width: fit-content;
    max-width: 100%;


}
.about-content{
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .about-main-content{
        display: flex;
        flex-direction: column;
    }
    
    
}

.about-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image{
    width: var(--photo-width);
    height: var(--photo-height);
    background-image: url("../../assets/about-image.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .about-image{
        width: 70vw;
        height: 70vw;
    }
    
    
}
