/*Home Text Section*/
.home-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-post-description{
    display: flex;
    flex-direction: column;
    gap: 1.7em;
}

.home-text{
    width: 30em;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.name{
    text-align: center;
    font-size: var(--name-font-size);
    letter-spacing: 1px;
}

.post p{
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
    color: var(--links-color);
}

/*say hello btn section*/
.say-hello{
    margin-top: 5em;
    
    
}

.say-hello a{
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 10px;
    padding: 20px;
    border-radius: 18px;
    background-color: var(--super-dark-color);
}

.say-hello a:hover{
    background-color: var(--super-plus-dark-color);
}

.say-hello div, .say-hello-icon line, polygon{
    color: white;
}

.say-hello-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-down{
    display: flex;
    gap: 10px;
    cursor: pointer;
    width: fit-content;
    margin-top: 6em;
}
.scroll-down-icon{
    position: relative;
    z-index: inherit;
}
.scroll-down:hover .scroll-down-text p{
    color: var(--super-plus-dark-color);
}
.scroll-down-text p, .say-hello-text{
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
}
.scroll-down:hover .scroll-down-icon{
    animation: scroll-down-animation  .5s infinite;
    color: var(--super-plus-dark-color);
}

@keyframes scroll-down-animation {
    0%{
        top: 0;
    }
    100%{
        top: 5px;
    }
}